# Run Travis CI for R using https://eddelbuettel.github.io/r-travis/

language: c
sudo: required
dist: focal

jobs:
  include:
    - name: linux
      os: linux
    #- name: macOS
    #  os: osx

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_=FALSE
      USE_BSPM="true"

before_install:
  - curl -OLs https://eddelbuettel.github.io/r-ci/run.sh && chmod 0755 run.sh
  - ./run.sh bootstrap

install:
  - ./run.sh install_all

script:
  - ./run.sh run_tests

after_failure:
  - ./run.sh dump_logs

#after_success:
#  - ./run.sh coverage
  
notifications:
  email:
    on_success: change
    on_failure: change
  slack:
    secure: kv1vuO9ZVHWedGJT7bSUkMziMv1eJVnLxKiJ/gsV3004CfzG8F5yEk6qNhneacMuRiSbngY32R8scUsrJO49xpIUEss57OVoukq0jk+/UM/GKABMYkFr6NFrHK9Yz1Q6mINbN75Li7pyFy04Ge48aqWsR+aXcC6Z4kbsig660s2Ygoh24p0tcRc0K854ellKYqQRBjyUsLh4lF++uHBCVI0BSbSszYaGB/jvTA+CDuIL9vXHdWgV6sCdLLqAyqxHOMdCFDMWuiNMPWD0cikk2JlPcMWcbI9MBzjworl8yyp5PSc4oTmx36zoBd+UvC71WcOJZKYQxXSJg7uPoYQ6QOhbeRW3ehfRi0lb7IP+8Ui12Xj9Y1mtAjPz1vGYqtLXYYmWAc346VTUJAC79f91ZICOZLIyI8nugRSJqzPfdXIETDPIPFZ0AekgXaIiR5DT3rPndxuucdQgvzI4x0lFfQklLgzKXeVEV3F3GWa/JZSQGqpwv4lPoK7pJ8i6uXZpLouxtYscUTPqlFngaMmngOAzudZeghDIgMRRZdkI7DTio4mU2YIW256eRTf6kRHuqQ9yVabH3gys/kuVH4goUojnfH4JF1uQ8xTWwvdvygmNZpH+Y7KHfkCHheJBr7oYVGy5bw9Q+Fe1NI+El7ATZrNfUpW5cBouc8Ipimkhdb0=

