useDynLib("Rblpapi", .registration=TRUE)

import("Rcpp")
importFrom("utils", "object.size", "packageVersion")
export("blpConnect",
       "blpDisconnect",
       "defaultConnection",
       "defaultAuthentication",
       "blpAuthenticate",
       "bdp",
       "bdh",
       "bds",
       "beqs",
       "bsrch",
       "fieldSearch",
       "fieldInfo",
       "getBars",
       "getMultipleTicks",
       "getTicks",
       "getPortfolio",
       "subscribe",
       "lookupSecurity"
       )
