useDynLib(Rblpapi)

import(Rcpp)
importFrom(utils, "object.size", "packageVersion")
export(blpConnect,
       blpDisconnect,
       defaultConnection,
       blpAuthenticate,
       bdp,
       bdh,
       bds,
       beqs,
       bsrch,
       fieldSearch,
       fieldInfo,
       getBars,
       getMultipleTicks,
       getTicks,
       getPortfolio,
       subscribe
       )
