useDynLib(Rblpapi)

import(Rcpp)
importFrom(utils, "object.size", "packageDescription")
export(blpConnect,
       blpDisconnect,
       blpAuthenticate,
       bdp,
       bdh,
       bds,
       fieldSearch,
       getBars,
       getMultipleTicks,
       getTicks
       )
